.footer
		.jumbotron.bottom
			.container
				.row
					.col-sm-3.mobile
						ul.list-unstyled
							li
								h5 Use Eventbrite
							li.h6
								small
									a(href="") How It Works
							li.h6
								small
									a(href="") For Large & Complex Events
							li.h6
								small
									a(href="") Community Guidelinesg
							li.h6
								small
									a(href="") Eventbrite Mobile App
							li.h6
								small
									a(href="") Eventbrite Check-In App
							li.h6
								small
									a(href="") Eventbrite Spectrum
							li.h6
								small
									a(href="") Rally - Fun Things To Do
							li.h6
								small
									a(href="") Event Organizing Resources
							li.h6
								small
									a(href="") Sitemap
					.col-sm-3.none
						ul.list-unstyled
							li
								h5 Plan Events
							li.h6
								small
									a(href="") Conference Management Software
							li.h6
								small
									a(href="") Reunions
							li.h6
								small
									a(href="") Nonprofits & Fundraisers
							li.h6
								small
									a(href="") Eventbrite Reviews
							li.h6
								small
									a(href="") Sell Tickets
							li.h6
								small
									a(href="") Event Management & Planning
							li.h6
								small
									a(href="") Online Event Registration
							li.h6
								small
									a(href="") Venue Booking & Management
							li.h6
								small
									a(href="") Event Promotion
					.col-sm-3.none
						ul.list-unstyled
							li
								h5 Find Events
							li.h6
								small
									a(href="") Boston Events
							li.h6
								small
									a(href="") Chicago Events
							li.h6
								small
									a(href="") Denver Events
							li.h6
								small
									a(href="") Houston Events
							li.h6
								small
									a(href="") Los Angeles Events
							li.h6
								small
									a(href="") Nashville Events
							li.h6
								small
									a(href="") San Diego Events
							li.h6
								small
									a(href="") San Francisco Events
							li.h6
								small
									a(href="") All Cities
					.col-sm-3.none
						ul.list-unstyled
							li
								h5 Connect With Us
							li.h6
								small
									a(href="") Contact Support
							li.h6
								small
									a(href="") Contact Sales
							li.h6
								small
									a(href="https://www.twitter.com/Eventbrite", target="_blank") Twitter
							li.h6
								small
									a(href="https://www.facebook.com/Eventbrite", target="_blank") Facebook
							li.h6
								small
									a(href="https://www.linkedin.com/company/eventbrite", target="_blank") LinkedIn
							li.h6
								small
									a(href="https://www.instagram.com/eventbrite/", target="_blank") Instagram
							li.h6
								small
									a(href="https://plus.google.com/u/0/+eventbrite/", target="_blank") Google+
					hr
				.row.none.country
					.col-sm-12
						ul.list-unstyled
							li
								h5 Country
							li.h6
								a.col-1(href="")
									small Argentina
								a.col-1(href="")
									small Australia
								a.col-1(href="")
									small Canada(EN)
								a.col-1(href="")
									small Canada(FR)
								a.col-1(href="")
									small Chile
								a.col-1(href="")
									small Colombia
								a.col-1(href="")
									small Deutschland
								a.col-1(href="")
									small España
								a.col-1(href="")
									small France
								a.col-1(href="")
									small Hong Kong
								a.col-1(href="")
									small Ireland
								a.col-1(href="")
									small Italia
								a.col-1(href="")
									small Mexico
								a.col-1(href="")
									small Nederland
								a.col-1(href="")
									small New Zealand
								a.col-1(href="")
									small Peru
								a.col-1(href="")
									small Portugal
								a.col-1(href="")
									small Singapore
								a.col-1(href="")
									small United Kingdom
								a.col-1(href="")
									small United States
				.row.menu
					.col-sm-10.none
						ul.list-unstyled
							li.h6
								a.col-1(href="") About
								a.col-1(href="") Blog
								a.col-1(href="") Help
								a.col-1(href="") Careers
								a.col-1(href="") Press
								a.col-1(href="") Security
								a.col-1(href="") Developers
								a.col-1(href="") Terms
								a.col-1(href="") Privacyms
								a.col-1(href="") Cookies
					.col-sm-2.mobile
						select.form-control
							option United States
							option United Kingdom
							option Singapore
							option Portugal
							option Peru
							option New Zealand
							option Nederland
							option Mexico
							option Italia
							option Ireland
							option Hong Kong
							option France
							option España
							option Deutschland
							option Colombia
							option Chile
							option Colombia
							option Canada(FR)
							option Canada(EN)
							option Australia
							option Argentina
